<!DOCTYPE html>
<html>
  <head>
    <title>Log in - Error</title>
    <link rel="stylesheet" href="css/login_register.css" type="text/css" />
</head>
<body>
<form id="login" method="post" action="login_process"> 

    <h1>Error</h1>
    
    <div>
	<p>Sorry, your email and password didn't match. Please <a href='/login'>try again</a>.
    </div>			
    
    <p class="back"><a href="/customize">Go back to customizing your start page</a></p>	

</body>
</html>

